.slideshow-container {
    width: calc(98% - 10px);
    margin: auto;
    background-color: black;
    height: calc(94% - 44px - 90px);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}
body {
    background-color: black;
}

.mySlides {
    display: none;
}

.mySlides img {
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}