/* Slideshow container */
.slideshow-container {
    width: 99%;
    margin: auto;
    background-color: black;
    height: calc(100% - 44px - 90px);
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    max-width: 100%;
    height: auto;
    max-height: calc(100vh - 134px);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}