body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.placeholder {
    height: 90px;
}

/*--------------Dropdown--------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    width: 100%;
    border: solid black 1px;
    border-radius: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    left: 0;
    color: black;
}

.dropdown-content.hide {
    display: none;
}

.dropdown .dropdown-content a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    border-radius: 6px;
}

#a_schiri {
    margin-bottom: 5px;
}

/*--------------NavBar--------------*/
.navBar {
    background-color: rgb(214, 247, 221);
    text-align: center;
    display: flex;
    height: auto;
    gap: 8px;
    margin: 0;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navBar img {
    height: 80px;
    vertical-align: middle;
    margin-right: 10px;
    margin: 5px;
}

.buttons {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 651px) {
    #a_kontakt {
        margin-right: 30px;
    }
}   

.navBar a,
.dropbtn {
    font-size: 1.2em;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.navBar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(175, 234, 189);
}

a.active {
    background-color: rgb(100, 221, 135);
    font-weight: bold;
}

.navBar a.active {
    background-color: rgb(100, 221, 135);
    color: #000;
}

.hide {
    display: none;
}

.buttons a:hover {
    background-color: rgb(152, 213, 166);
}

.buttons a:active {
    background-color: rgb(152, 213, 166);
}

/*--------------Footer--------------*/
.footer {
    background-color: rgb(214, 247, 221);
    text-align: center;
    display: flex;
    height: auto;
    gap: 8px;
    margin: 0;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    border-top: solid black 1px;
    justify-content: center;
}

.footer a {
    text-align: center;
    font-size: 1.4em;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    flex: 1;
    margin: 0 10px 0 10px;
}

@media screen and (max-width: 650px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer a {
        margin: 5px 0;
        flex: none;
    }
}

/*--------------Hamburger Menu--------------*/
@media screen and (max-width: 650px) {
    .hamburger {
        margin-left: auto;
        margin-right: 40px;
        width: 50px;
        cursor: pointer;
    }

    .hamburgerMenu {
        width: 100%;
    }

    .buttons {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100%;
        background-color: rgb(214, 247, 221);
        padding-bottom: 10px;
        border-top: solid black 1px;
    }

    .buttons a {
        width: 90%;
        margin: 5px 0;
    }
}

br {
    display: block;
    margin: 0.5em 0;
    line-height: 1;
}

br.small {
    margin: 0.275em 0;
}

br.tiny {
    margin: 0.12em 0;
}