body {
    font-family: 'Arial';
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
}

h1 {
    color: #1f008b;
    font-size: 24px;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
}

.lightgreen {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #b5d3f0;
}

td {
    padding: 12px 15px;
    border: 1px solid #747474;
    text-align: left;
    font-size: 11pt;
}

a {
    color: #267e29;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}